.dashboard {
  display: flex;
  /* background-color: bisque; */
  height: 100vh;
}
.modal {
  position: absolute;
  display: flex;
  padding: 20px;
  border-radius: 5px;
  background-color: green;
  left: 50%;
  translate: -50% -100%;
  transition-duration: 0.5s;
}

.header {
  background-color: azure;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.logo-img {
  height: 40px;
  margin-left: 20px;
}
.links {
  height: 100%;
  margin: auto;
  margin-right: 20px;
}
