.dashboard {
  display: flex;
  /* background-color: bisque; */
  height: calc(100vh - 50px);
}
.modal {
  position: absolute;
  display: flex;
  padding: 20px;
  border-radius: 5px;
  background-color: green;
  left: 50%;
  translate: -50% -100%;
  transition-duration: 0.5s;
}

.header {
  background-color: rgba(237, 253, 253, 1);
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.header ul {
  margin: 0px;
}
.header button {
  width: 100%;
  position: relative;
  /* top: 10px; */
  background-color: rgb(247, 101, 101);
  color: white;
  /* letter-spacing: 2px; */
  font-size: 0.8em;
  border-radius: 5px;
  box-shadow: #d5d3d3 10px 10px 10px;
}
.logo-img {
  height: 50px;
  margin-left: 20px;
}
.links {
  height: 100%;
  margin: auto;
  margin-right: 20px;
}
.links li {
  display: inline-block;
  margin: 5px;
}
button {
  border: none;
  padding: 5px 10px;
  background-color: #dbdbdb;
  /* color: white; */
  /* border-radius: 5px; */
}
.dashboard form {
  background-color: white;
  display: inline-block;
  max-width: 90%;
  padding: 5px;
  margin: 5px;
  display: flex;
}
.dashboard form button {
  background-color: #eee;
  border-radius: 0px 5px 5px 0px;
}

.dashboard form input {
  border: none;
  padding: 5px 10px;
  flex-grow: 1;
  min-width: 0px;
  border-right: solid 2px #608bff;
  border-radius: 5px 0px 0px 5px;
  background-color: #eee;
}
